.imageElement {
    border-radius: 2rem;
    max-width: 50rem;
}

.paginationDot {
    background: #00FF00;
}

.slideChildrenContainer {
    margin-top: 0.5rem;
}

.sliderArrows {
    bottom: 0;    
}

.caretIcon {
    color: #00FF00;
}