.searchBarContainer {
    width: 40rem;
}

.discountInsideContainer {
    border-radius: 0 0.75rem 0 0;
}

:global(.vtex-button) {
	border: none;
}

.contaier {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sellingPrice {
    color: #ff0000;
}